<div class="container country-search-row">
    <span class="row">
    <span class="col-lg-8">
    </span>
    <mat-form-field *ngIf="!showNoDataMessage" class="form-group col-lg-4">

        <img matPrefix class="country-search-icon " src="../../../assets/icons/icon_search.png">
        <input class="country-search-input" (ngModelChange)="onSearchTextChange($event)" [(ngModel)]="searchCountryNameText" matInput placeholder="Search country by name... ">
    </mat-form-field>
    </span>
</div>

<div class="container country-list ">
    <div *ngIf="showLoader" class="loader">Loading...</div>
    <ng-container *ngIf="(countryList | listFilterPipe: searchCountryNameText : 'name' | paginate:{itemsPerPage: countryListPagination.itemsPerPage, currentPage:countryListPagination.currentPage})  as countryListResult">
        <div class=" row card material-card material-card-shadow country-card " *ngFor="let country of countryListResult">
            <div class="card-body ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-sm-2">
                            <img src="{{country.flag}} " class="country-flag-thumbnail material-card-shadow " />
                        </div>

                        <div class="col-sm-4 country-location ">
                            <div class="country-title-text ">
                                {{country.name}}
                            </div>
                            <div *ngIf="country.capital && country.subregion " class="country-capital-region-text ">
                                {{country.capital}}, {{country.subregion}}
                            </div>
                            <div class="country-capital-region-text ">
                                {{country.region}}
                            </div>

                        </div>

                        <div class="row col-sm-5 ">
                            <div class="col-sm-6 country-stats-count ">
                                <span class="country-light-label country-stats-count ">Languages</span>
                                <div>
                                    <span class="country-dark-text " *ngFor="let lng of country[ 'languages'];let isLast=last ">{{lng.name}}{{isLast ? '' : ', '}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 country-stats-count ">
                                <span class="country-light-label ">Currency(s)</span>
                                <div class="country-dark-text " *ngFor="let curr of country[ 'currencies'];let isLast=last; "><span *ngIf="curr.code">{{curr.code}} </span><span *ngIf="curr.symbol">({{curr.symbol}})</span>{{isLast ? '' : ', '}}</div>
                            </div>

                            <div class="col-sm-6 country-stats-count ">
                                <span class="country-light-label ">Area</span>
                                <div class="country-dark-text ">{{country.area}} km²</div>
                            </div>
                            <div class="col-sm-6 country-stats-count ">
                                <span class="country-light-label ">Population</span>
                                <div class="country-dark-text ">{{country.population}}</div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <app-no-data-found class="row" *ngIf=" (showNoDataMessage || countryListResult.length === 0) && !showLoader" [showRefreshOnNoData]="showRefreshOnNoData" (eventEmitterOnReload)="onReload($event)" noDataMesageText="{{noDataMesageText}} "></app-no-data-found>
        <div class="row fixed-bottom">
            <div class="col-md-7">
                <mat-paginator *ngIf="(countryListResult.length !== 0)" class="country-list-paginator" (page)="onPageChange($event)" [length]="countryList && countryList.length" [pageSize]="countryListPagination.itemsPerPage" [showFirstLastButtons]="true" [hidePageSize]="true">
                </mat-paginator>
            </div>
        </div>
    </ng-container>

</div>