.country-search-icon {
    width: 48px;
    height: 48px;
}

.country-list {
    flex-grow: 1;
    border: 0px solid green;
    overflow: auto;
    max-height: fit-content;
    margin-bottom: 60px;
}

.country-list-container {
    overflow: hidden;
}

.country-flag-thumbnail {
    width: 170px;
    height: 100px;
    border: none;
    margin-top: 8px;
    margin-right: 0px;
}

.country-location {
    margin-left: 20px;
}

.country-title-text {
    font-weight: bold;
    font-size: large;
    color: #3366CC;
    margin-top: 8px;
}

.country-card {
    width: 98%;
    margin: 10px 20px 10px 10px;
    background-color: #e2e1e0;
}

.country-capital-region-text {
    font-weight: bold;
    font-size: 16px;
    color: #686A6B;
}

.country-dark-text {
    font-weight: bolder;
    color: #686A6B;
}

.country-light-label {
    font-weight: lighter;
    color: #686A6B;
}

.country-stats-count {
    margin-top: 10px;
    ;
}

.country-search-row {
    margin-top: 70px;
}

.country-search-input {
    color: #0A0A7E;
    font-size: 20px;
    font-weight: bolder;
}

.country-list-paginator {
    background-color: #0A0A7E;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 0px;
}