<div>
    <!--Common Top navbar to display in all pages -->
    <div class="navTop">
        <mat-toolbar class="toolbar-color">
            <mat-toolbar-row class="row">
                <div class="col-md-10">
                    <span><img src="../assets/icons/app_logo.png" /></span>
                    <span class="white-text"> {{appConfig.APP_TITLE}}</span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <!--Country list component..In case of multiple components , router outlet can be used-->
    <app-country-list></app-country-list>
</div>