<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7 card text-center material-card material-card-shadow">
            <br>
            <div class="card-body">
                <img src="../../../assets/icons/no_data.png " class="noDataImageCls" />
                <br>
                <br>
                <h4 class="card-title">{{noDataMesageText}}</h4>
                <br>
                <button *ngIf="showRefreshOnNoData" mat-raised-button color="primary" (click)="onRefreshButtonClick() ">Reload</button>
            </div>

        </div>

    </div>